.data-box{
    margin: 23px 15px 0px 10px;
    border:1px solid black;
    border-radius: 4px;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    align-items: center;
}
button{
    border:none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}