.data-box{
    margin: 10px 1px 10px 20px;
    border:1px solid rgb(185, 181, 181);
    border-radius: 4px;
    height: 75vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    overflow:auto;
    align-items: center;
}
button{
    border:none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

::-webkit-scrollbar{
    width: 8px;
}
  
::-webkit-scrollbar-track{
    box-shadow: none; 
    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb{
    background: rgb(110, 106, 106); 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: rgb(182, 174, 174); 
}