.header-container{
    width:100vw;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;

}
input{
    margin: 15px !important;
    color: black !important;
    height: 30px !important;
    padding: 5px !important;
    border-radius: 10px 0px 10px 0px !important;
    border: none ;
    outline: none !important;
    background-color: white !important;

}
input.issue{
    border: 1px solid black !important;
}
button{
    height: 25px;
    background-color: rgba(139, 133, 133, 0.5);
    color: white;
    margin: 2px;
}
button:hover{
    background-color: rgba(202, 199, 199, 0.5);
    border: 1px solid white
}

a.name{
    font-family: 'Segoe UI';
    position:absolute;
    right:60px;
    color:white;
    text-decoration:none;
    top:25px;
    font-family: 'Segoe UI';
}
