.profile-box{
    margin: 15px 15px 0px 10px;
    border:1px solid rgb(218, 216, 216);
    height: 595px;
    width: 28vw;
    max-width: 300px;
    min-width: 150px;
    background-color: white;
    font-family: 'Calibri';
}